.navbar-icon{
    display: none;
}

.navbar-buttons{
    display: block;
}

.searched_name{
    margin-top: 5px;
    border: solid #0024FF 0.5px;
    padding-top: 5px;
}

.names_displayed{
    cursor: pointer;
    margin-left: 10px;
    text-transform: uppercase;
    font-weight: bold;
    color: rgba(0,0,0,0.8);
}

@media screen and (max-width:700px){  
    .search-bar{
        width: 100%;
    }
    .navbar-icon{
        display: block;
    }
    .navbar-buttons{
        display: none;
    }
    .logout{
        margin: 3.3rem;
        margin-left: 70px;

    }
    .navbar-end{
        align-items: center;
        margin-left: 70px;
    }
    
}

