.navbar-icon{
    display: none;
}

.navbar-buttons{
    display: block;
}
.searched_name{
    padding-left: 20px;
}

.names_displayed{
    cursor: pointer;
}

@media screen and (max-width:700px){  
    .search-bar{
        width: 100%;
    }
    .navbar-icon{
        display: block;
    }
    .navbar-buttons{
        display: none;
    }
    .logout{
        margin: 3.3rem;
        margin-left: 70px;

    }
    .navbar-end{
        align-items: center;
        margin-left: 70px;
    }
    
}

