:root { 
--blue: #0024FF;
--grayy: #676767;
--lightt-blue: #F2F4FF
}

.all-btn{
    background-color: var(--blue);
    color: white;
    font-weight: bold;
    width: 8rem;
    height: 3rem;
    font-size: 16px;
    border: none;
    border-radius: 0.8rem;
    padding: 1rem;
    padding-bottom: 2rem;
    margin: 2rem;
    cursor: pointer;
}
.signup-btn{
    background-color: white;
    color: var(--blue);
    border: 3px solid var(--blue);
}
.search-btn{
    width: 3.2rem;
    height: 3.1rem;
    margin: -3.3rem;
    padding: 0;
}

.btn-image{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.logout_icon{
    width: 1.5rem;
    height: 1.5rem;
    justify-self: center;
    align-self: center;
}
