/* all users style */
:root { 
    --blue: #0024FF;
    --grayy: #676767;
    --lightt-blue: #F2F4FF
    }
 .body {
    background-color: #f2f2f2;
  }

  
  .selected-user {
    color: --blue;
    font-weight: bold;
  }
 