.main-page {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.all-users-container {
  background-color:#7EC8E3;
  max-width: 400px ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  border-radius: 10px;
}

.all-users-container h2 {
  color: #fff;
  font-weight: bold;
  
  background-color:#0024FF;
  text-align: center;
  width: 400px;
}

.all-users-container div {
  padding-left: 10px;
  color: #fff;
  font-weight: 600;
  text-align: left;
  font-size: 1.3rem;
  cursor: pointer;

}
.icon {
  width:25px;
  height: auto;
}
.selected-user {
  cursor: text;
}