

.main-page {
  width: 90%;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  padding-top: 90px;

}




/* main container */
.all-users-container {
  background-color:#7EC8E3;
  max-width: 220px ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  border-radius: 10px;
  padding-bottom: 10px;
}

/* title */
.all-users-container h2 {
  color: #fff;
  font-weight: bold;
  border-radius: 10px;
  background-color:#0024FF;
  text-align: center;
  width: 220px;
}

/* users */
.all-users-container div {
  margin-left: 10px;
  border-radius: 5px;
  margin-bottom: 4px;
  width: 190px;
  border: 1px solid black;
  color: #0024FF;
  font-weight: 600;
  text-align: left;
  font-size: 1.3rem;
  cursor: pointer;
  background-color: #F2F4FF;

}
.all-users-container div:hover {
  background-color: #6ca1e6 ;

}

.all-users-container div:active {
  color: white;
  background-color:#0024FF ;
}

.selected-user {
  margin-top: 15px;
  cursor: text;
}

.selected-user:hover {
  background-color: #F2F4FF;

}
.icon {
  width:25px;
  height: auto;
}

/* MESSAGE CONTAINER */
.send-message-container {
  margin-left: 10px;
  margin-right: 10px;
  background-color: #7EC8E3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.form {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;

}

.message-status{
  
}
.message-area{
  min-height: 200px;
}
.submit-button {
  height: 30px;
  color: white;
  background-color: #0024FF;
  border-radius: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  
}
.submit-button:hover{
  background-color: #4a62ff;
}
.submit-button:active{
  background-color: #7c8eff;
  color: grey;

}