body{
    margin: 0;
    padding: 0;
    background-color: #F2F4FF;
    font-family: 'Inter';
    height: 100vh;
}

.form_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
    width: 500px;
}

form{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}